body {
  margin:0;
}
.web_player {
  display: grid;
  grid-template-columns: 400px 1fr;
}
.player {
  text-align: center;
  color: white;
  text-shadow: gray 1px 2px;
  background-image: url('gakki.jpeg');
  background-color: rgba(255,255,255,0.6);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-blend-mode:lighten;
}

@media (max-width:700px) {
  .web_player {
    display: block;
  }
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.tab_list {
  background-color: inherit;
  float: left;
  border: none;
  border-right: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-weight: bold;
}
#genie {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  text-align: left;
  opacity: 1;
}
#song_title {
  font-size: 40px;
  margin-bottom: 0;
  opacity: 1;
}
#singer {
  margin:0;
}
#cover_image {
  margin: 10px;
  border-radius: 10%;
  width: 200px;
  opacity: 1;
}
